.MC_Ex .list
{
	display: inline-block;
	width: 100%;
	/*height: 300px;*/
	margin-bottom: 8%;
}

.MC_Ex .menu
{
	color: rgb(102, 102, 102);
	font: 500 25px "Noto Sans KR";
}

.MC_Ex .poster
{
	height: 240px;
	width: 170px;
	border-radius: 10px;
}

.movie
{
	display: inline-block;
}

.poster_wrap
{
	position: relative;
	height: 240px;
	width: 170px
}

.poster_wrap > .hover_div
{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 240px;
	width: 170px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
	opacity: 0;
}

.poster_wrap > .hover_div > .box_wrap
{
	height: 240px;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.poster_wrap > .hover_div:hover
{
	opacity: 1;
}

.poster_wrap > .hover_div:hover ~ .gradient
{
	z-index: -1;
}
.poster_wrap .hover_div .detail, .poster_wrap .hover_div .booking
{
	display: inline-block;
	text-align: center;
	width: 115px;
	height: 35px;
	line-height: 35px;
	background-color: white;
	border-radius: 4px;
	font-weight: 500;
	margin: 0 27.5px;
}

.poster_wrap .hover_div .booking
{
	background-color: rgb(251, 67, 87);
	color: white;
	font-weight: 500;
	margin-top: 6px;
}

.poster_wrap .hover_div .detail:hover, .poster_wrap .hover_div .booking:hover
{
	opacity: 0.8;
}

.poster_wrap > .gradient
{
	position: absolute;
	bottom: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
}

.poster_wrap .num
{
	position: absolute;
	z-index: 4;
	color: rgb(247, 247, 247);
	left: 5%;
	bottom: -16px;
	font: italic 400 50px "Noto Sans KR";
}

.screentype
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 4;
}

.screentype > img
{
	border : solid rgb(104, 110, 115) 1px;
	border-radius: 3px;
	padding: 3% 0;
	height: 7px;
}

.age
{
	position: absolute;
	top: 6px;
	right: 6px;
	text-align: right;
	z-index: 4;
	height: 100%;
	width: 100%;
}

.age img
{
	height: 22px;
}

.age .dday
{
	display: inline-block;
	color: red;
	font: 500 10px "Noto Sans KR";
	background-color: white;
	height: 22px;
	width: 22px;
	line-height: 22px;
	border-radius: 10px;
	transform: scale(0.9);
	text-align: center;
	margin-top: 5px;
}

.movie .title
{
	text-align: center;
}

.MC_Ex .space
{
	width: 26px;
}

.MC_Ex .button
{
	top: 120px;
}



.button img
{
	height: 15px;
}


#next_button_m, #next_button_ex, #next_button
{
	right: -40px;
}

.slide_list
{
	width: 4000px;
}

.slide_list_wrap
{
	width: 968px;
	overflow: hidden;
}

.MC_Ex #menu_mc
{
	font-weight: 700;
	color: rgb(34, 34, 34);
}

.MC_Ex #expection
{
	display: none;
}

.MC_Ex .info img
{
	height: 16px;
}
