#s_photo
{
	display: inline-block;
	width: 50%;
	height: 250px;
	margin-right: 4%;
}

#s_photo img
{
	display: inline-block;
	width: 100%;
	height: 100%;
}


#s_info
{
	position: absolute;
	display: inline-block;
	width: 45%;
	height: 250px;
}

.s_type
{
	border-bottom: solid rgb(229, 229, 229) 1px;
	width: 100%;
	height: 25%;
}

#s_type_1
{
	border-radius: 10px;
	border: solid rgb(34, 34, 34) 1px;
}

.s_type > .title
{
	display: inline-block;
	margin: 4% 0 4% 5%;
}

.special .tag
{
	display: inline-block;
	float: right;
	margin: 4.5% 4% 0 0;
	background-color: rgb(246, 246, 246);
	padding: 0.3em 0.7em;
	border-radius: 5px;
	font-size: 13.5px;
}

.unit
{
	display: inline-block;
	width: 27%;
	height: 370px;
	border-radius: 10px;
	border: solid rgb(229, 229, 229) 1px;
	padding: 0 2%;
}

.store .head
{
	margin-bottom: 0;
}

.store .space
{
	width: 2%;
}

.store .headline
{
	display: inline-block;
	width: 100%;
	margin: 7% 0 7% 0;
	font: 500 20px "Noto Sans KR";
	color: rgb(34, 34, 34);
}

.store .sub
{
	display: block;
	width: 100%;
	height: 75px;
	margin-bottom: 25px;
}

.sub img
{
	display: inline-block;
	height: 75px;
}

.sub .text
{
	position: relative;
	top: 15%;
	display: inline-block;
	margin-left: 5%;
	color: rgb(34, 34, 34);
	font: 500 14px "Noto Sans KR";
}

.sub .text .price
{
	font: 700 15px "Noto Sans KR";;
}
