
.MC_Ex
{
	text-align: center;
	background-color: rgb(246, 246, 246);
	min-width: 980px;
}

.contents
{
	display: inline-block;
	width: 980px;
	text-align: left;
}

.EVENT, .special, .store, .notice
{
	text-align: center;
	min-width: 980px;
}


.moviechart > .list
{
	display: inline-block;
	width: 100%;
	margin-bottom: 8%;
}

.head
{
	margin: 8% 0 2% 0;
	display: inline-block;
	width: 100%;
	font: 700 25px "Noto Sans KR";
	color: rgb(34, 34, 34);
}

.MC_Ex .menu
{
	color: rgb(102, 102, 102);
	font: 500 25px "Noto Sans KR";
}

.bar
{
	border-right: solid rgb(178, 178, 178) 1px;
	height: 13px;
	display: inline-block;
	margin: 0 10px 4px 10px;
}

.show_all_wrap
{
	display: inline-block;
	float: right;
}
.show_all
{
	padding: 0.3em 0 0.3em 1em;
	color: black;
	border-radius: 15px;
	border: solid rgb(178, 178, 178) 1px;
	font-weight: 400;
	font-size: 14px;
}

.next
{
	height: 15px;
	filter: opacity(1) drop-shadow(0 0 0 black);
	margin-bottom: 0.2em;
	margin-right: 0.3em;
}


.moviechart .poster
{
	height: 240px;
	width: 170px;
	border-radius: 10px;
}

.movie
{
	display: inline-block;
}

.poster_wrap
{
	position: relative;
	height: 240px;
	width: 170px
}

.poster_wrap > .hover_div
{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 5;
	opacity: 0;
}

.poster_wrap > .hover_div > .box_wrap
{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 82px 0;
}
.poster_wrap > .hover_div:hover
{
	opacity: 1;
}

.poster_wrap > .hover_div:hover ~ .gradient
{
	z-index: -1;
}
.poster_wrap .hover_div .detail, .poster_wrap .hover_div .booking
{
	display: inline-block;
	text-align: center;
	width: 70%;
	height: 35px;
	line-height: 35px;
	background-color: white;
	border-radius: 4px;
	font-weight: 500;
}

.poster_wrap .hover_div .booking
{
	background-color: rgb(251, 67, 87);
	color: white;
	font-weight: 500;
	margin-top: 6px;
}

.poster_wrap .hover_div .detail:hover, .poster_wrap .hover_div .booking:hover
{
	opacity: 0.8;
}

.poster_wrap > .gradient
{
	position: absolute;
	bottom: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
}

.poster_wrap .num
{
	position: absolute;
	z-index: 4;
	color: rgb(247, 247, 247);
	left: 5%;
	bottom: -16px;
	font: italic 400 50px "Noto Sans KR";
}

.screentype
{
	position: absolute;
	top: 83%;
	right: 3%;
	z-index: 4;
	height: 100%;
	width: 100%;
	text-align: right;
}

.screentype > img
{
	border : solid rgb(206, 206, 206) 1px;
	border-radius: 3px;
	margin: 0.5%;
	padding: 0.5% 0;
	height: 8px;
}

.age
{
	position: absolute;
	top: 3%;
	right: 2%;
	text-align: right;
	z-index: 4;
	height: 100%;
	width: 100%;
}

.title
{
	font: 500 18px "Noto Sans KR";
	color: rgb(34, 34, 34);
	margin: 0.5em 0;
}

.movie .title
{
	text-align: center;
}

.info
{
	font-size: 14px;
}
.space
{
	display: inline-block;
}

.MC_Ex .space
{
	width: 26px;
}

.list
{
	display: inline-block;
	position: relative;
	width: 100%;
}

.EVENT .card
{
	display: inline-block;
}

.EVENT .card .card_wrap
{
	display: inline-block;
	height: 210px;
	width: 310px;
	border-radius: 10px;
	overflow: hidden;
}


.card img
{
	height: 210px;
	width: 310px;
	border-radius: 10px;
}

.EVENT .card img:hover
{
	transform: scale(1.10);
	transition: all ease 1s;
}

.EVENT .space
{
	width: 18px;
}

#s_photo
{
	display: inline-block;
	width: 50%;
	height: 250px;
	margin-right: 4%;
}

#s_photo img
{
	display: inline-block;
	width: 100%;
	height: 100%;
}


#s_info
{
	position: absolute;
	display: inline-block;
	width: 45%;
	height: 250px;
}

.s_type
{
	border-bottom: solid rgb(229, 229, 229) 1px;
	width: 100%;
	height: 25%;
}

#s_type_top
{
	border-top: solid rgb(229, 229, 229) 1px;
}
.s_type > .title
{
	display: inline-block;
	margin: 4% 0 4% 5%;
}

.special .tag
{
	display: inline-block;
	float: right;
	margin: 4.5% 4% 0 0;
	background-color: rgb(246, 246, 246);
	padding: 0.3em 0.7em;
	border-radius: 5px;
	font-size: 13.5px;
}

.unit
{
	display: inline-block;
	width: 27%;
	height: 370px;
	border-radius: 10px;
	border: solid rgb(229, 229, 229) 1px;
	padding: 0 2%;
}

.store .head
{
	margin-bottom: 0;
}

.store .space
{
	width: 2%;
}

.store .headline
{
	display: inline-block;
	width: 100%;
	margin: 7% 0 7% 0;
	font: 500 20px "Noto Sans KR";
	color: rgb(34, 34, 34);
}

.more_wrap
{
	display: inline-block;
	float: right;
}

.more
{
	position: relative;
	bottom: 0.2em;
	color: #666;
	font: 400 12px "Noto Sans KR";
	border: solid rgb(244, 244, 244) 1px;
	border-radius: 15px;
	padding: 0.2em 1.3em;
}

.store .sub
{
	display: block;
	width: 100%;
	height: 75px;
	margin-bottom: 25px;
}

.sub img
{
	display: inline-block;
	height: 75px;
}

.sub .text
{
	position: relative;
	top: 15%;
	display: inline-block;
	margin-left: 5%;
	color: rgb(34, 34, 34);
	font: 500 14px "Noto Sans KR";
}

.sub .text .price
{
	font: 700 15px "Noto Sans KR";;
}

.notice .head
{
	margin: 0 0 3% 0;
}

.notice #n_info
{
	display: inline-block;
	float: left;
	width: 740px;
	height: 230px;
	margin-right: 3%;
	border-radius: 10px;
	border: solid rgb(229, 229, 229) 1px;
}

.notice #n_ad
{
	display: inline-block;
	width: 19.8%;
	height: 230px;
	border-radius: 10px;
	border: solid black 1px;
}

.notice #n_text
{
	display: inline-block;
	width: 62%;
	height: 100%;
	border-right: solid rgb(229, 229, 229) 1px;
	padding: 0 4%;
}

.notice .headline
{
	display: block;
	height: 20%;
	padding: 2.5% 0;
	width: 100%;
	border-bottom: solid rgb(244, 244, 244) 1px;
}

.notice .title
{
	display: inline-block;
	font: 500 16px "Noto Sans KR";
	margin-right: 1.5em;
}

.notice .notice_link
{
	display: inline;
	color: rgb(34, 34, 34);
	font-size: 14px;
}
.notice .headline .notice_link .underline:hover
{
	text-decoration: underline;
}

.notice .more
{
	bottom: -1em;
}

.notice .cs_center .title
{
	margin-top: 0;
	vertical-align: top;
}

.notice .cs_center
{
	padding-top: 15px;
}


.notice .cs_center .info
{
	display: inline-block;
	font: 400 14px "NotoSans KR";
	line-height: 1.7em;
	margin-bottom: 25px;
}

.cs_center .info .number
{
	font-size: 14px;
	font-weight: 700;
	color: rgb(34, 34, 34);
}

.cs_center .info .black
{
	color: rgb(34, 34, 34);
}

.notice .cs_center .tag_wrap
{
	font-size: 14px;
	color: rgb(34, 34, 34);
}

.notice .cs_center .tag_wrap .tag
{
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.5em 1em;
	background-color: rgb(246, 246, 246);
	border-radius: 5px;
}

.notice #n_qr
{
	display: inline-block;
	float: right;
	padding-top: 1.5%;
	text-align: center;
	width: 29%;
	font-size: 11.5px;
	line-height: 1.5em;
}

.notice #n_qr .title
{
	display: inline-block;
	margin-right: 0;
	font-size: 16px;
	line-height: 1.2em;
	margin-top: 1em;
}

.notice #n_qr .app
{
	font-size: 12px;
	font-weight: 400;
}

.notice #n_qr .qr_wrap
{
	margin: 8% 0 3% 0;
}

.notice #n_qr img
{
	height: 60px;
}

#ad
{
	margin-top: 120px;
}
#ad .ad_wrap
{
	text-align: center;
	background-image: linear-gradient(to top, rgba(254, 164, 67, 1.0) 75.5%, rgba(255,255,255,1) 24.5%) ;
}

#float
{
	position: fixed;
	bottom: 80px;
	right: 0;
	z-index: 10;
}

#goto_top img
{
	height: 21px;
}

#goto_top .top_wrap
{
	text-align: center;
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: solid black 1px;
	background-color: rgba(255, 255, 255, 1.0);
	line-height: 45px;
	box-shadow:1px 3px 6px 0 rgba(0, 0, 0, 0.3);
}

#goto_top
{
	float: right;
}

#goto_book
{
	float: left;
	margin-right: 10px;
}

#goto_book .book_wrap
{
	text-align: center;
	height: 50px;
	width: 150px;
	border-radius: 50px;
	background-image:linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
	color: white;
	font: 500 16px "Noto Sans KR";
	line-height: 50px;
	box-shadow:1px 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.button
{
	display: block;
	position: absolute;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	box-shadow:1px 3px 6px 0 rgba(0, 0, 0, 0.3);
	z-index: 6;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translate(-50%,-50%);
}

.moviechart .button
{
	top: 120px;
}

.EVENT .button
{
	top: 105px;
}

#pre_button img
{
	transform: scaleX(-1);
}

.button img
{
	height: 15px;
}


#next_button
{
	right: -40px;
}
