.videotext
{
	z-index: 0;
	position: absolute;
	color: black;
}

video
{
	z-index: 1;
	margin: 0 auto;
}

.moviechart
{
	background-color: rgb(247, 247, 247);
	padding: 05% 10%;
}

.chart_name h3
{
	display: inline;
}

.movie
{
	display: inline-block;
	text-align: center;
	margin: 1.3%;

}

.poster
{
	height: 250px;
	width: auto;
	border-radius: 10px;

}

