.trailer
{
	position: relative;
	background-color: black;
	height: 500px;
	text-align: center;
	min-width: 980px;
}

.videotext
{
	top: 40%;
	left: 2%;
	z-index: 3;
	position: absolute;
	color: white;
	text-align: left;
}

.video_wrap
{
	display: inline-block;
	height: 500px;
	width: 980px;
	position: relative;
	overflow: hidden;
}

.video_wrap .video_box
{
	display: inline-block;
	position: relative;
	height: 500px;
	width: 950px;
	overflow: hidden;
}

video
{
	display: inline-block;
	height: 500px;
	width: 950px;
	transform:scale(1.35);
}

.video_wrap .trailer_gradient
{
	height: 500px;
	width: 950px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
	z-index: 3;
	border: solid black 1px;
}

.trailer .movie_title
{
	font: 700 40px "Noto Sans KR";
	text-shadow: 2px 2px 4px black;
}

.trailer .movie_text
{
	font: 500 20px "Noto Sans KR";
}

.trailer .controler
{
	margin-top: 20px;
}

.info_button
{
	display: inline-block;
	color: rgb(52, 52, 52);
	background-color: rgb(206, 206, 206);
	border-radius: 15px;
	height: 30px;
	line-height: 30px;
	padding: 0 0.3em 0 1.3em;
}

.trailer .play_button, .trailer .sound_button
{
	display: inline-block;
	border-radius: 15px;
	margin-left: 7px;
}

.trailer .button
{
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	line-height: 25px;
	text-align: center;
	border-radius: 15px;
	border: solid 1px #cecece;
}

.trailer .button img
{
	height: 15px;
}

.trailer .float_ad_wrap
{
	position: absolute;
	z-index: 10;
	width: 280px;
	bottom: 20px;
	right: 20px;
}

.trailer .float_ad_wrap .float_ad
{
	display: block;
	height: 210px;
	width: 280px;
	background-color: white;
}

.trailer .float_ad_wrap .ad_close
{
	display: block;
	width: 280px;
	height: 35px;
	background-color: rgb(81, 81, 81);
}