.EVENT .slide_list
{
	height: 300px;
}

.EVENT .slide_list_wrap
{
	width: 978px;
}

.EVENT .button
{
	top: 105px;
}

.EVENT .card
{
	display: inline-block;
}

.EVENT .card .card_wrap
{
	display: inline-block;
	height: 210px;
	width: 310px;
	border-radius: 10px;
	overflow: hidden;
}

.card img
{
	height: 210px;
	width: 310px;
	border-radius: 10px;
}

.EVENT .card img:hover
{
	transform: scale(1.10);
	transition: all ease 1s;
}

.EVENT .space
{
	width: 17px;
}